.FundAccountBtn {
  border: 1px solid transparent;
  color: #6236ff;
  background: #e1dfea;
  height: 65px;
  width: 50px;
  line-height: 1em;
  border-radius: 10px;
}

.FundAccountBtn:hover {
  background-color: #6236ff;
  color: #6236ff;
}

.FundAccountBtn:hover .AddIcon {
  color: #fff;
}
